.page-not-found{
    position: relative;
    left: 50%;
    transform: translateX(-20%);
    top: 100px;
    .content-error{
        
        h1{
          font-weight: 700;  
          font-size: 50px;
          letter-spacing: 2px;
          margin-left: -60px;
          @include media("<tablet"){
            font-size: 25px;
            margin-left: 20px;
        }
        }
        p{
            font-size: 20px;
            margin-left: -300px;
            @include media("<tablet"){
                width: 600px;
                text-align: center;
                padding-left: 305px;
               font-size: 13px;
            } 
        }  
    }
}
    